[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabling = False
host_key_checking = False
stdout_callback = ansible.builtin.default
result_format = yaml
interpreter_python = auto_silent
remote_user  = ubuntu
vault_password_file = ~/.vault_pass.txt
forks = 10
